@import url(http://fonts.googleapis.com/css?family=Raleway:400,900);
body {
  background-color: beige;
}
.jumbotron {
  font-family: 'Raleway', sans-serif;
  background-color: gold;
  text-align:center;
}

.jumbotron h1 {
  color: chocolate;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.contact {
  background-color: gold;
  text-align:center;
}

.contact h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: chocolate;
}
.contact h5 {

}
#total-cost {
  display:inline;
}
